<ion-header>
  <ion-toolbar>
    <ion-title>Informacion</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-thumbnail slot="end"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/SCP_Foundation_%28emblem%29.svg/1024px-SCP_Foundation_%28emblem%29.svg.png" alt=""></ion-thumbnail>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card>
      <ion-card-header>
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/SCP_Foundation_logo.svg/2560px-SCP_Foundation_logo.svg.png"
          alt="">
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-content>

        <h2>¿Qué encontraré aquí?</h2>
        <p>Aqui encontraras toda la informacion recolectanda y traducida sobre
          la organizacion y los scp que se conocen hasta el momento.</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <h2>¿Que es la fundacion?</h2>
        <p>La Fundación SCP es una organización secreta administrada por los gobiernos de todo el mundo para contener y
          estudiar individuos, entidades, lugares, objetos y fenómenos anómalos que desafían la ley natural .
          SCP significa Special Containment Procedures .
        </p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <h2>¿Que es un scp?</h2>
        <p>Los objetos SCP son cosas, personas, animales o energías que violan las leyes naturales y a veces, no pueden
          ser explicadas por la ciencia normal, por ejemplo, desaparecer, levitar o controlar otros objetos. Estas
          anomalías pueden ser tan sencillas como mover algo o tan complejas y peligrosas como destruir planetas. Si no
          se contienen, los SCPs representan una amenaza para los humanos y la tierra.
        </p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
