<ion-header>
  <ion-toolbar>
    <ion-title>Scp</ion-title>
  </ion-toolbar>
  <ion-thumbnail slot="end"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/SCP_Foundation_%28emblem%29.svg/1024px-SCP_Foundation_%28emblem%29.svg.png" alt=""></ion-thumbnail>

</ion-header>

<ion-content>
  <div class="img-inicio">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/SCP_Foundation_%28emblem%29.svg/2048px-SCP_Foundation_%28emblem%29.svg.png">
  </div>
  <div class="centrar-boton">
    <ion-button color="light" [routerLink]="['/registro']">
      <ion-icon name="person-add-outline" slot="start"></ion-icon>
      Registrarse
    </ion-button>
    <ion-button color="light" [routerLink]="['/login']">
      <ion-icon name="person-outline" slot="start"></ion-icon>Iniciar sesión</ion-button>
  </div>
  <div>
    <h6>¿Que es SCP? <a [routerLink]="['/info']">Info</a></h6>
    <h6>Quiero Formar parte <a [routerLink]="['/contacto']">Contactanos</a></h6>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-label>modo oscuro</ion-label>
      <ion-toggle [ngModel]="modooscuro" (ionChange)="estado()"></ion-toggle>
    </ion-item>
  </ion-toolbar>
</ion-footer>
