<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-thumbnail slot="end"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/SCP_Foundation_%28emblem%29.svg/1024px-SCP_Foundation_%28emblem%29.svg.png" alt=""></ion-thumbnail>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nombre de usuario</ion-label>
        <ion-input placeholder="Ingrese su nombre..."></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input placeholder="Contraseña..."></ion-input>
      </ion-item>
    </ion-list>
    <ion-button color="success" [routerLink]="['']">
      <ion-icon name="person-outline"></ion-icon>
    </ion-button>
  </ion-card>
</ion-content>
