<ion-header>
  <ion-toolbar>
    <ion-title>Contactanos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-thumbnail slot="end"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/SCP_Foundation_%28emblem%29.svg/1024px-SCP_Foundation_%28emblem%29.svg.png" alt=""></ion-thumbnail>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <p>Bienvenido civil, si llegaste hasta aqui felicidades lograste llegar a nuestra enciclopedia personal, si deseas ser parte de ella contáctate con nosotros.</p>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nombre de usuario</ion-label>
        <ion-input placeholder="Usuario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">¿Por que quieres formar parte?</ion-label>
        <ion-input placeholder="Motivo"></ion-input>
      </ion-item>
      <ion-item><ion-button color="success" slot="end"> <ion-icon
            name="mail-outline"></ion-icon></ion-button></ion-item>


    </ion-card-content>
  </ion-card>
</ion-content>
